.App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.page-card {
   border: 2px solid #eee;
   display: flex;
   min-height: 100vh; 
}

.page-desc {
   flex-grow: 4;
   padding-left: 20px;
}

.page-pic {
   flex-grow: 8;
   background: purple;
}

.page-nos-indicator {
   position: fixed;
   background: transparent;
   bottom: 10px;
   right: 10px;
}

.highlighter-circle {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   border: 1px solid white; 
   margin: 8px;
}
.fill {
   background: white;
}
.home-read-more {
   padding: 10px;
   border: none;
   border-radius: 3px;
   background: lightblue;
   font-size: 15px;
   cursor: pointer;
   margin: 20px;
}
